<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    
    <head>
        <meta http-equiv='Content-Type' content="text/html; chatset=utf8" /> 
        <meta chatset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content="IE-edge">
        <meta name="viewport" content="width-device-width, initial-scale=1"> 

        <title>WebMail</title>



        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">


    </head>
    
    <body ng-app="Webmail" ng-controller="WebmailCtrl">


    <div class="container">

        <ul class="nav nav-tabs spacer">
            <li ng-repeat="dossier in dossiers" 
                ng-class="{active: dossier == dossierCourant}"><a href="#{{dossier.value}}" ng-click="selectionDossier(dossier)">{{dossier.label}}</a></li>
        </ul>
    <div class="spacer input-group">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </div>
            <input type="text" ng-model="recherche" class="form-control" placeholder="Rechercher un e-mail...">
        <div class="input-group-btn">
            <button class="btn btn-default" ng-click="razRecherche()">
                <span class="glyphicon glyphicon-remove" ></span>
            </button>
        </div>
    </div>
<div ng-show='dossierCourant != null &amp;&amp; emailSelect == null'>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="colDe">
                        <a ng-click="triEmails('from')">De</a>
                        <span class="hSpacer" ng-class="cssChevronsTri('from')"></span>
                    </th>
                    <th class="colA">
                        <a ng-click="triEmails('to')">&Agrave;</a>
                        <span class="hSpacer" ng-class="cssChevronsTri('to')"></span>
                    </th >
                    <th class="colObject">
                        <a ng-click="triEmails('subject')">Objet</a>
                        <span class="hSpacer" ng-class="cssChevronsTri('subject')"></span>
                    </th>
                    <th class="colDate">
                        <a ng-click="triEmails('date')">Date</a>
                        <span class="hSpacer" ng-class="cssChevronsTri('date')"></span>
                    </th>
                </tr> 
            </thead>
            <tbody>
                <tr ng-repeat="email in emailsFiltres = (dossierCourant.emails | filter: recherche) | orderBy:champTri:triDescendant" class="clickable" ng-click="versEmail(dossierCourant, email)">
                    <td ng-bind-html="email.from | surbrillanceRecherche:recherche"></td>
                    <td ng-bind-html="email.to | surbrillanceRecherche:recherche"></td>
                    <td ng-bind-html="email.subject | surbrillanceRecherche:recherche"></td>
                    <td>{{email.date |  date:'short'}}</td>
                </tr>
             
            </tbody>
        </table>


        <p class="alert alert-info"> le dossier contient {{emailsFiltres.length}} mails</p>
</div>
        <div ng-show="emailSelect != null" class="spacer">

            <div  class="well" ng-class="{active: email == emailSelect}">
                <h1>{{emailSelect.subject}}</h1>
                <p> <label>De :</label> <span>{{emailSelect.from}}</span></p>
                <p> <label>&Agrave; :</label> <span>{{emailSelect.to}}</span></p>
                <p> <label>Date :</label> <span>{{emailSelect.date}}</span></p>
                <p ng-bind-html="emailSelect.content"></p>
            </div>
        </div>


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.7.8/angular-locale_fr-fr.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="app.js"></script>
    </body>
 
</html>