



.spacer {
    margin-top: 20px;
}


.spacer li a {
    padding:0 50px;
}

.hSpacer {
    padding-left:10px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color : #428BCA;
    color: #ffffff
}

.clickable {
    cursor: pointer
}

a {
    cursor:pointer;

}


.colDe {
    width: 20%
}


.colA {
    width: 15%
}


.colObject {
    width: 45%
}


.colDate {
    width: 15%;
}